<style media="screen">
.form-group {
    margin-bottom: 0;

}
</style>
<!-- categoriy filter -->
<div class="form-group">
    <a class="btn btn-dark btn-sm mb-2" href="/movies" value="Action">All</a>
    <a class="btn btn-dark btn-sm mb-2" href="/movies/Action" value="Action">Action</a>
    <a class="btn btn-dark btn-sm mb-2" href="/movies/Comedy" value="Comendy">Comedy</a>
    <a class="btn btn-dark btn-sm mb-2" href="/movies/Drama" value="Drama">Drama</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark btn-sm mb-2" data-toggle="modal" data-target="#exampleModal">
      More Options
    </button>
</div>

<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Movie Categories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-group">
          <!-- bullet point list -->
          <ul class="list-group">
            <li class="list-group-item" href="/movies/Adventure">Adventure</li>
            <li class="list-group-item" href="/movies/Biography">Biography</li>
            <li class="list-group-item" href="/movies/Thriller">Thriller</li>
            <li class="list-group-item" href="/movies/Fantasy">Fantasy</li>
            <li class="list-group-item" href="/movies/Documentary">Documentary</li>
            <li class="list-group-item" href="/movies/Musical">Musical</li>
            <li class="list-group-item" href="/movies/Sci-Fi">Sci-Fi</li>
            <li class="list-group-item" href="/movies/War">War</li>
          </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- card-columns -->
<div class="row mt-5">
    <!-- loop through our movies from db - display on the view  -->
    {{#each movies}}

            <div class="bx card col-6 col-sm-4 col-md-3">
                <img class="img-fluid card-img-top" src="/img/marvel-black-panther.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">{{title}}</h6>
                        <span class="badge badge-light">{{year}}</span>
                        <span class="badge badge-info">{{genre}}</span>
            <!-- ************************************************************************* -->
                        <!-- <p class="card-text">{{description}}</p> -->
                        <!-- edit button -->
                        <a class="Edit btn btn-dark btn-sm  d-inline" href="/movies/edit/{{id}}">Edit</a>
                        <!-- delete element Id -->
                        <form class="d-inline" method="post" action="/movies/{{id}}?_method=DELETE">
                            <input type="hidden" name="_method" value="Delete">
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                        </form>
                    </div>
            </div>

    {{else}}
      <p>There are no movies listed</p>
    {{/each}}
</div>
