<!-- categoriy filter -->
<div class="form-group">
    <a class="btn btn-primary btn-sm mb-2" href="/movies/Action" value="Action">Action</a>
    <a class="btn btn-primary btn-sm mb-2" href="/movies/Comedy" value="Comendy">Comedy</a>
    <a class="btn btn-primary btn-sm mb-2" href="/movies/Drama" value="Drama">Drama</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm mb-2" data-toggle="modal" data-target="#exampleModal">
      Other options
    </button>
</div>

<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Movie Categories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-group">
          <!-- bullet point list -->
          <ul class="list-group">
            <li class="list-group-item" href="/movies/Adventure">Adventure</li>
            <li class="list-group-item" href="/movies/Biography">Biography</li>
            <li class="list-group-item" href="/movies/Thriller">Thriller</li>
            <li class="list-group-item" href="/movies/Fantasy">Fantasy</li>
            <li class="list-group-item" href="/movies/Documentary">Documentary</li>
            <li class="list-group-item" href="/movies/Musical">Musical</li>
            <li class="list-group-item" href="/movies/Sci-Fi">Sci-Fi</li>
            <li class="list-group-item" href="/movies/War">War</li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- card-columns -->
<div class="card-columns">
    <!-- loop through our movies from db - display on the view  -->
    {{#each movies}}

            <div class="card-body mb-3" style="max-width: 20rem;">
                <!-- <img class="card-img-top" src="marvel-black-panther.jpg" alt="Card image cap"> -->
                <h6 class="card-title">{{title}}</h6>
                <p class="card-text">{{description}}</p>
                <span class="badge badge-light">{{year}}</span>
                <span class="badge badge-info">{{genre}}</span> <br>
                <!-- edit button -->
                <a class="btn btn-dark btn-block mb-2" href="/movies/edit/{{id}}">Edit</a>
                <!-- <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </button> -->
                <form method="post" action="/movies/{{id}}?_method=DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" class="btn btn-danger btn-block" value="Delete">
                </form>
            </div>

    {{else}}
      <p>There are no movies listed</p>
    {{/each}}
</div>
